body {
	background-color: #3399ff;
}
header {
	background-color: #000000;
	color: black;
}
footer {
	background-color: #000000;
	color: black;
}
#content {
	background-color: #ffffff;
}
header, footer, #content {
	border-style: solid;
	border-width: 1px;
	border-color: green;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: 5px 5px 5px black;
}
